@import "../../colors.scss";

.home {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: auto;
  width: 100%;
}

.wrap {
  width: 70%;
}

.image-banner {
  background-image: url(../../assets/images/banner.jpg); 
  background-repeat: no-repeat;
  background-position: bottom;
  width: 100%;
  height: 300px;
}


