@import "../../colors.scss";

.header {
  background-color: $color1;
  color: whitesmoke;
  font-size: 18px;
  font-weight: 200;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.logo {
  height: 40px;
  margin-left: 10px;
}

nav > a {
  all: unset;
  cursor: pointer;
  color: whitesmoke;
  padding: 15px;
  font-size: 18px;
}

nav > a:hover {
  color: rgb(172, 124, 10);
}
