@import "../../colors.scss";

.News {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: auto;
}

.wrapNews {
  width: 60%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 10px;
  img {
    width: 100%;
  }
  h1 {
    font-size: 0,5rem;
    background-color: $color4;
    color: whitesmoke;    
    margin: 0;
    padding: 10px 10px 15px 10px;
  }
  p {
    font-size: 0,7rem;
    background-color: $color6;
    color: whitesmoke;    
    margin-top: 0;
    padding: 15px 10px 20px 10px;
  }
  h6 {
    font-size: 0.9rem;
    font-weight: 400;    
    color: grey;    
margin-top: 10px;  }
}
